.uiLook,
.uiLook_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uiLook {
    width: 100%;
    height: 180vh;
    position: relative;
    color: lavender;
    border-top-right-radius: 1.6rem;
    border-top-left-radius: 1.6rem;
}
.uiLook_content {
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 95%;
    text-align: center;
}
/* ********************************************************************* */
.uiLook_content_header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 5rem;
    text-align: left;
    width: 100%;
    height: 18%;
}
.uiLook_content_header p {
    font-size: calc(16px + (16 -16) * ((100vw - 1280px) / (1600 - 1280)));
    font-weight: 500;
    color: #e2ff00;
}
.uiLook_content_header h1 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: calc(32px + (24 -32) * ((100vw - 1280px) / (1600 - 1280)));
    font-weight: 500;
}
/* *************************************************************************************** */
.uiLook_content_mode {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-left: 5rem;
    text-align: left;
    width: 100%;
    height: 8%;
}
.uiLook_content_mode_child_1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
.uiLook_content_mode_child_1 p {
    margin: 0;
    font-size: calc(16px + (16 -16) * ((100vw - 1280px) / (1600 - 1280)));
    font-weight: 500;
}

.uiLook_content_mode_child_1 ul {
    margin: 0;
    padding-left: 0;
}

.uiLook_content_mode_child_1 ul li {
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    padding-right: 3rem;
}
/* *************************************************************************************** */
.uiLook_content_mode_child_2 {
    width: 70%;
    height: 100%;
}
.uiLook_content_mode_child_2 span {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.uiLook_content_mode_child_2 span p {
    margin: 0;
    font-size: calc(16px + (16 -16) * ((100vw - 1280px) / (1600 - 1280)));
    font-weight: 500;
}
.uiLook_content_mode_child_2 span h1 {
    margin: 0;
    font-size: calc(16px + (16 -16) * ((100vw - 1280px) / (1600 - 1280)));
    font-weight: 500;
}
/* ******************************************************************************* */
.uiLook_content_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    width: 100%;
    height: 74%;
}
.uiLook_content_banner_scroll {
    position: absolute;
    top: 25rem;
}
.uiLook_content_banner_background {
    position: absolute;
    right: 0.1rem;
}

.background_info {
    top: 25rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 14%;
    font-size: calc(100px + (163 - 100) * ((100vw - 1280px) / (1600 - 1280)));
    font-weight: 100;
    color: rgb(128, 128, 128, 0.1);
}
