.uiLook,
.uiLook_content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(21, 26, 30);
}

.uiLook {
    width: 100%;
    height: 120vh;
    position: relative;
}
.uiLook_content {
    width: 95%;
    height: 95%;
    color: white;
    text-align: center;
}
