.policy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.policy_column_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 39.7%;
    height: 100%;
    background: #d0f0c0;
    border-radius: 0.5rem;
    padding: 1rem;
}
.policy_column_2 {
    width: 59.7%;
    height: 100%;
    background: rgb(80, 200, 120);
    border-radius: 0.5rem;
    padding: 2rem;
}
.policy_column_2_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
.policy_column_2_container_header,
.policy_column_2_container_date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10vh;
}
.policy_column_2_container_statement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
}
.policy_column_2_container_row_1,
.policy_column_2_container_row_2 {
    width: 100%;
    height: 100%;
}

.policy_column_2_container::-webkit-scrollbar {
    display: none;
}
