.uiBanner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uiBanner_card_wrapper {
    height: 100%;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    overflow-y: scroll;
    color: rgb(3, 3, 3);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.uiBanner_card_wrapper::-webkit-scrollbar {
    display: none;
}

/* **************************************************************************************** */

.uiBanner_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 600px;
    width: 100%;
    border-radius: 13px;
    padding: 2rem;
    margin-bottom: 10px;
}

.uiBanner_card_info {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
    overflow: hidden;
    padding-right: 2rem;
    z-index: 5;
    text-overflow: ellipsis;
    color: lavender;
}

.uiBanner_card_info h1 {
    /* prod */
    font-size: calc(24px + (32 -24) * ((100vw - 1280px) / (1600 - 1280)));
    /* font-size: calc(26px + (32 -26) * ((100vw - 1280px) / (1600 - 1280))); */
    /* dev */
    /* font-size: calc(24px + (10 -24) * ((100vw - 1280px) / (1600 - 1280))); */
    font-weight: 100;
    line-height: 47px;
    color: #00b5ff;
}

.uiBanner_card_info p {
    /* prod */
    font-size: calc(14px + (18 -14) * ((100vw - 1280px) / (1600 - 1280)));
    /* dev */
    /* font-size: calc(14px + (5 -14) * ((100vw - 1280px) / (1600 - 1280))); */
    font-weight: 100;
    line-height: 27px;
}

.uiBanner_image_container {
    width: 70%;
    height: 100%;
}

.uiBanner_image_container_img_1,
.uiBanner_image_container_img_2,
.uiBanner_image_container_img_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    position: relative;
    box-shadow: 20px 40px 33px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    padding: 0.7rem;
    overflow: hidden;
}
.uiBanner_image_container_img_1 {
    width: 55%;
    height: 40%;
    top: 7rem;
    right: -2rem;
    background: rgb(34, 38, 42);
    z-index: 10;
}
.uiBanner_image_container_img_2 {
    height: 45%;
    width: 60%;
    top: -13rem;
    right: -13rem;
    background: rgb(34, 38, 42);
    z-index: 8;
}
.uiBanner_image_container_img_3 {
    width: 55%;
    height: 35%;
    right: -11rem;
    top: -12rem;
    background: rgb(34, 38, 42);
    z-index: 8;
}
