.custButton button {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: calc(0.5vw + 0.5vh + 1vmin);
    font-weight: 500;
    border-radius: 4px;
    line-height: 16px;
    text-align: center;
    border: solid;
    border-width: 1px;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: inline-block;
    gap: 8px;
    -webkit-transition: border-radius 0.15s;
    transition: border-radius 0.15s;
    cursor: pointer;
    transition: 0.5s all ease;
}

.custButton button:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.5s all ease;
    color: rgb(44, 51, 57);
}
