.formToRegister {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

.formToRegister_regForm {
    display: flex;
    align-items: center;
    justify-content: initial;
    padding-top: 3rem;
    padding-bottom: 2rem;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
    background: rgb(7, 11, 13);
    border-radius: 0.5rem;
    transition: 0.5s;
}

.formToRegister_regForm::-webkit-scrollbar {
    display: none;
}
.formToRegister_form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: inherit;
    width: 95%;
    height: 95%;
}
/* ********************************************************** */

.formToRegister_form_field {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid gray;
    font-size: 1rem;
    color: lavender !important;
    background: rgb(34, 38, 42) !important;
    transition: 0.5s all ease;
    margin-top: 2rem;
}

.formToRegister_form_field:focus {
    outline-offset: 5px;
    border: 3px solid orange;
    transition: 0.5s all ease;
}

/* *************************************************************** */
.formToRegister_toggleBtn,
.formToRegister_appPolicies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    margin-top: 1rem;
    color: gray;
}
.formToRegister_toggleBtn p,
.formToRegister_appPolicies p {
    cursor: pointer;
}
.formToRegister_toggleBtn p:hover,
.formToRegister_appPolicies p:hover {
    text-decoration: underline;
    color: #1a72e6;
}
