.userTestimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}
.userTestimonial_list {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 80px;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    overflow: hidden;
}
.userTestimonial_list_box {
    background: #d409df;
    border-radius: 0.6rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    line-height: 142%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem;
}

.userTestimonial_list_box_shadow {
    background: rgb(212, 9, 223, 0.1);
    border-radius: 0.6rem;
}

.userTestimonial_list_box:nth-child(1),
.userTestimonial_list_box:nth-child(5),
.userTestimonial_list_box:nth-child(6),
.userTestimonial_list_box:nth-child(12),
.userTestimonial_list_box:nth-child(3),
.userTestimonial_list_box:nth-child(7),
.userTestimonial_list_box:nth-child(8),
.userTestimonial_list_box:nth-child(10),
.userTestimonial_list_box_shadow :nth-child(1),
.userTestimonial_list_box_shadow :nth-child(5),
.userTestimonial_list_box_shadow :nth-child(6),
.userTestimonial_list_box_shadow :nth-child(12),
.userTestimonial_list_box_shadow :nth-child(3),
.userTestimonial_list_box_shadow :nth-child(7),
.userTestimonial_list_box_shadow :nth-child(8),
.userTestimonial_list_box_shadow :nth-child(10) {
    grid-column: span 1;
}
.userTestimonial_list_box:nth-child(2),
.userTestimonial_list_box:nth-child(4),
.userTestimonial_list_box:nth-child(9),
.userTestimonial_list_box:nth-child(11),
.userTestimonial_list_box_shadow:nth-child(2),
.userTestimonial_list_box_shadow:nth-child(4),
.userTestimonial_list_box_shadow:nth-child(9),
.userTestimonial_list_box_shadow:nth-child(11) {
    grid-column: span 2;
}
.userTestimonial_list_box_after {
    width: 500px;
    height: 300px;
    z-index: 1000;
    position: absolute;
    background: gray;
    box-shadow: 20px 40px 33px rgb(21, 26, 30);
    border-radius: 0.6rem;
    padding: 0.4rem;
    color: black;
}
.userTestimonial_list_box_after_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 0.6rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    line-height: 142%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userTestimonial_list_box_after_content_col_1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 8%;
    height: 100%;
}
.userTestimonial_list_box_after_content_col_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 92%;
    height: 100%;
}
.userTestimonial_list_box_after_content_col_2_row_1 {
    padding: 1rem;
    width: 100%;
    height: 80%;
    border-bottom: 1px solid grey;
}
.userTestimonial_list_box_after_content_col_2_row_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 20%;
}
.userTestimonial_list_box_after_content_closeBtn {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 7px;
}

.userTestimonial_list_box h1 {
    font-weight: 100;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.8em;
}
