.landing {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.5rem;
}

.landing_content {
    padding-left: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 35% 20%;
    list-style: none;
    overflow: hidden;
}
/* ************************************************************************************** */
.landing_content_col_1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px;
}
.landing_content_col_2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px;
}
.landing_content_col_1_row_1_slider_bck,
.landing_content_col_2_row_1_slider_bck,
.landing_content_col_2_row_2_slider_bck {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 56%;
    background: rgb(0, 0, 0, 0.1);
    font-weight: 700;
    mix-blend-mode: color-burn;
    /* pro */
    font-size: calc(16px + (20 -16) * ((100vw - 1280px) / (1600 - 1280)));
    /* dev */
    /* font-size: calc(18px + (4 -18) * ((100vw - 1280px) / (1600 - 1280))); */
    line-height: 27px;
    color: #3a3a3a;
    transform: translateY(135%);
    border-radius: 1.5rem;
    backdrop-filter: blur(40px);
    transition: 0.2s ease-out;
    /* padding: 2rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.landing_content_col_2_row_2_slider_bck {
    transform: translateY(-135%);
}

.landing_content_col_1_row_1_slider,
.landing_content_col_2_row_1_slider,
.landing_content_col_2_row_2_slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing_content_col_1_row_1_slider {
    height: 65%;
    background: #816ad6;
}

.landing_content_col_2_row_1_slider {
    height: 49%;
    background: #deacf5;
}

.landing_content_col_2_row_2_slider {
    height: 49%;
    background: #a7d676;
}

.landing_content_col_1_row_1_slider:hover
    .landing_content_col_1_row_1_slider_bck,
.landing_content_col_2_row_1_slider:hover
    .landing_content_col_2_row_1_slider_bck,
.landing_content_col_2_row_2_slider:hover
    .landing_content_col_2_row_2_slider_bck {
    transform: translateY(0%);
    transition: 0.2s ease-out;
}

/* **************************************************************************** */
.landing_content_col_3 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px;
}

/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
