.loadingFade {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
    0% {
        background-color: rgb(172, 185, 185);
    }
    100% {
        background-color: rgb(241, 243, 243);
    }
}

/**
 * ==============================================
 * Dot Collision
 * ==============================================
 */

.dot-collision {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00ffff;
    color: #00ffff;
}

.dot-collision::before,
.dot-collision::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-collision::before {
    left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00ffff;
    color: #00ffff;
    animation: dotCollisionBefore 2s infinite ease-in;
}

.dot-collision::after {
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00ffff;
    color: #00ffff;
    animation: dotCollisionAfter 2s infinite ease-in;
    animation-delay: 1s;
}

@keyframes dotCollisionBefore {
    0%,
    50%,
    75%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-25px);
    }
}

@keyframes dotCollisionAfter {
    0%,
    50%,
    75%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(25px);
    }
}
