.formToAddProfile {
    height: 100%;
    width: 100%;
    background: rgb(34, 38, 42);
    border-radius: inherit;
}
.form-container {
    width: 100%;
    height: 100%;
}

.proForm {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: '0.5rem';
}

.proForm::-webkit-scrollbar {
    display: none;
}
.proForm_header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    color: lavender;
    padding-left: 5rem;
}
.proForm_header h1 {
    color: aqua;
    font-size: 32px;
    margin: 0;
}
.proForm_header p {
    color: lavender;
    font-size: 16px;
}
.proForm {
    width: 90%;
    height: 90%;
    position: relative;
    flex-direction: column;
    background: rgb(21, 26, 30);
    border-radius: inherit;
    transition: 0.5s;
}

/*******************************************************/

.form_field {
    width: 80%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    font-size: 1rem;
    color: #656880;
}
.form_field:focus {
    outline: none !important;
    border: 1px solid #ff4500;
    transition: 0.5s all ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.164);
}

/* *********************************************************** */
.select {
    width: 80%;
    margin-bottom: 1rem;
}
.roomWarning {
    color: red;
    margin-top: 40px;
    margin-bottom: 20px;
}
.roomInformation {
    color: lavender;
}
