.formToAddProfile {
    height: 100%;
    width: 100%;
    background: rgb(21, 26, 30);
    border-radius: inherit;
}
.formToAddProfile_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.formToAddProfile_proForm_header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    color: lavender;
    padding-left: 3.8rem;
}
.formToAddProfile_proForm_header h1 {
    color: aqua;
    font-size: 32px;
    margin: 0;
}
.formToAddProfile_proForm_header p {
    color: lavender;
    font-size: 16px;
}
.formToAddProfile_proForm {
    display: flex;
    align-items: center;
    justify-content: initial;
    padding-top: 3rem;
    padding-bottom: 2rem;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 94%;
    height: 93%;
    position: relative;
    flex-direction: column;
    background: rgb(7, 11, 13);
    border-radius: 0.5rem;
    transition: 0.5s;
}

.formToAddProfile_proForm::-webkit-scrollbar {
    display: none;
}

/*******************************************************/

.formToAddProfile_form_field {
    width: 80%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    font-size: 1rem;
    color: #656880;
    background: rgb(34, 38, 42);
}
.formToAddProfile_form_field:focus {
    outline: none !important;
    border: 1px solid #ff4500;
    transition: 0.5s all ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.164);
}

/* *********************************************************** */
.formToAddProfile_select {
    width: 80%;
    margin-bottom: 2rem;
}
.formToAddProfile_roomWarning {
    color: red;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: calc(16px + (0 -16) * ((100vw - 1280px) / (1600 - 1280)));
    line-height: 27px;
}
.formToAddProfile_roomInformation {
    margin-top: 2rem;
    color: lavender;
    font-size: calc(16px + (0 -16) * ((100vw - 1280px) / (1600 - 1280)));
    line-height: 27px;
}
/* .formToAddProfile_submit_btn {
    height: 40%;
    background: red;
    display: flex;
    justify-content: center;
}
.formToAddProfile_submit_btn:hover {
    transform: translate(-150px, 0px);
    transition: all 0.3s ease;
} */
