.authContainer_btn,
.authContainer_form,
.authContainer {
    display: flex;
    align-items: center;
    border-radius: inherit;
    width: 100%;
}

.authContainer {
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
    background: rgb(21, 26, 30);
}

.authContainer_btn,
.authContainer_form {
    justify-content: center;
}

.authContainer_btn {
    height: 19.3%;
    background: rgb(7, 11, 13);
}

.authContainer_form {
    height: 79.3%;
}
