.App {
    width: 100vw;
    height: 100vh;
    padding: 0.6rem;
}

/* font-size: calc(10px + 2vmin);
min-height: 100vh; */
/* .pointer {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: white;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
} */
