.userTestimonial_list_box {
    background: #d409df;
    border-radius: 0.6rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    line-height: 142%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}
.userTestimonial_list_box_title {
    font-weight: 100;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
}
.userTestimonial_list_box_expand:hover {
    color: #000000;
}
.userTestimonial_list_box:nth-child(1),
.userTestimonial_list_box:nth-child(5),
.userTestimonial_list_box:nth-child(6),
.userTestimonial_list_box:nth-child(12),
.userTestimonial_list_box:nth-child(3),
.userTestimonial_list_box:nth-child(7),
.userTestimonial_list_box:nth-child(8),
.userTestimonial_list_box:nth-child(10) {
    grid-column: span 1;
}
.userTestimonial_list_box:nth-child(2),
.userTestimonial_list_box:nth-child(4),
.userTestimonial_list_box:nth-child(9),
.userTestimonial_list_box:nth-child(11) {
    grid-column: span 2;
}
