.profileBox {
    max-width: 170px;
    position: relative;
    min-width: 170px;
    height: 100%;
    border-radius: inherit;
    background: rgb(7, 11, 13);
    color: rgb(0, 0, 0);
}

.profileBox_row_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.profileBox_row_2 {
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    top: 65%;
    height: 35%;
    width: 100%;
    backdrop-filter: blur(5px);
    border-radius: inherit;
    background: rgb(202, 231, 234, 0.2);
}
